
h1{
    background-color: blue;
    color: azure;
    border: solid black;
    
    

    text-align: center;
    
    
}
div{
    background-color:rgb(177, 220, 220);
    color:crimson;
    font-size: large;
    text-align: center;
    border: solid black;
}
